body {
	background-color: #FFFFFF;
	text-align: center;
	margin: 0 0 0 0;
	color: #ff5f8c;
}

h1 {
	font-family: 'Italianno', cursive;
	font-size: 49px;
	position: relative;
	right: 500px;
}

h1 > span {
	color: rgb(191,191,191);
}

p > span > b > a {
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(221,221,221);
	text-decoration: none;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 80px;
	color: #ffbabf;
}

body > a {
	color: #ffbabf;
	letter-spacing: 20px;
	position: relative;
	top: 165px;
	right: 500px;
	z-index: 100;
}

nav > a {
	position: relative;
	bottom: 30px;
	color: #ffbabf;
	z-index: 10;
}
.bar {
	border: 48px solid #ff5f8c;
	position: relative;
	top: 40px;
}